.medium-gap {
  gap: 10px;
}

.medium-font {
  font-size: 20px;
}

.learn-section {
  width: 70%;
  text-align: center;
  margin: auto;
}

@media (max-width: 1000px) {
  .learn-section {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .learn-section {
    width: 90%;
  }
}

