.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.center {
  align-items: center;
}

.medium-gap {
  gap: 10px;
}

.medium-font {
  font-size: 20px;
}

.learn-section {
  width: 60%;
  margin: auto;
}

svg {
  margin: 0;
  padding: 0;
}