.navbar {
  justify-content: space-between;
  padding: var(--header-padding);
  background-color: var(--header-color);
  color: white;
}

.logo {
  color: white;
}

.links {
  gap: 10px;
  flex-direction: row;
}

@media (max-width: 500px) {
  .navbar {
    padding: var(--padding);
  }
  .links {
    flex-direction: column-reverse;
  }
}