.topic {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: row;
  gap: var(--huge-gap);
  align-items: stretch;
  width: 80%;
}

.unit {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  justify-content: stretch;
  width: 80%;

}

.element {
  border-radius: var(--border-radius);
  padding: var(--padding);
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
}

.topic-el {
  border: 2px solid var(--header-color);
}