.topic {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: row;
  gap: var(--huge-gap);
  align-items: stretch;
  width: 80%;
}

.unit, .course {
  display: grid;
  grid-auto-flow: row;
  justify-content: stretch;
  gap: var(--large-gap);
  width: 80%;

}

.unit {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.course {
  grid-template-columns: 1fr;
}

.element {
  border-radius: var(--border-radius);
  padding: var(--padding);
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
}

.unit-el {
  background-color: white;
  border: 4px solid var(--header-color);
}

.unit-stars {
  border-radius: var(--border-radius);
  padding: var(--small-padding);
}

.unit-stars.review {
  border: 2px solid red;
}

.unit-stars.reviewed {
  border: 2px solid green;
}

.unit-review {
  min-height: 60px;
}

.unit-review.review {
  color: red;
}

.unit-review.reviewed {
  color: green;
}

.topic-el.review {
  border: 2px solid red;
}

.topic-el.ok {
  border: 2px solid green;
}

@media (max-width: 400px) {
  .topic {
    width: 90%;
  }
}