.practice-section {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: var(--huge-gap);
}

.stats {
  background-color: var(--button-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
}

.stats button {
  background-color: var(--header-color);
  color: white;
}

.practice label {
  padding: 10px;
  box-shadow: 0 0 0 2px lightgray;
  border-radius: var(--border-radius);
  z-index: 100;
}

input[type="radio"] {
  display: none;
}

input {
  padding: 5px;
  box-shadow: 0 0 0 2px lightgray;
  border: none;
  border-radius: var(--border-radius);
}

.practice .selected {
  box-shadow: 0 0 0 2px #007bff;
  border-radius: var(--border-radius);
}

.practice .correct {
  box-shadow: 0 0 0 4px green;
  border-radius: var(--border-radius);
}

.practice .incorrect {
  box-shadow: 0 0 0 4px red;
  border-radius: var(--border-radius);
}

.feedback {
  padding: 10px var(--padding);
  border-radius: var(--border-radius);
}

.feedback.good {
  background-color: lightgreen;
}

.feedback.bad {
  background-color: lightpink;
}