.practice-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--huge-gap);
}

.stats {
  background-color: var(--button-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
}

.stats-question-info {
  flex-wrap: wrap;
  justify-content: center;
}

.question {
  max-width: max-content;
}

.stats button {
  background-color: var(--header-color);
  color: white;
}

.practice label {
  padding: 10px;
  box-shadow: 0 0 0 2px lightgray;
  border-radius: var(--border-radius);
  z-index: 15;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--medium-gap);
}

.options.wrap {
  flex-direction: column;
}

input[type="radio"] {
  display: none;
}

input, .input {
  padding: 5px;
  box-shadow: 0 0 0 2px lightgray;
  border: none;
  border-radius: var(--border-radius);
}

.input.selected {
  box-shadow: 0 0 0 2px #007bff;
}

.input.correct {
  box-shadow: 0 0 0 4px green;
}

.input.incorrect {
  box-shadow: 0 0 0 4px red;
}

.mathquill {
  padding: 3px;
}

.mathquill:focus-within {
  box-shadow: 0 0 0 2px black;
}

.mq-editable-field {
  min-width: 5em;
  text-align: start;
  border: none !important;
}

.mq-editable-field.mq-focused {
  box-shadow: none !important;
}

.feedback {
  border-radius: var(--border-radius);
}

.feedback.good {
  padding: 10px var(--padding);
  background-color: lightgreen;
}

.feedback.bad {
  padding: 10px var(--padding);
  background-color: lightpink;
}

div.correct.ans {
  padding: 5px;
  border: none;
  box-shadow: 0 0 0 4px green;
  border-radius: var(--border-radius);
}