.star {
  min-width: 30px;
  min-height: 30px;
}

.small-star {
  width: 20px;
  height: auto;
}

.info-svg {
  width: 15px;
  height: auto;
}

.stars-info {
  background-color: white;
  padding: var(--padding);
  border: 2px solid var(--header-color);
  border-radius: var(--border-radius);
  position: absolute;
  z-index: 20;
  width: 200px;
  text-align: center;
}

.stars-info img {
  vertical-align: middle;
  width: 15px;
  height: auto;
}