:root {
  --table-header-color: #999999;
  --table-row-color1: #dadada;
  --table-row-color2: white;
}

.function-table {
  font-size: 16px;
}

.function-table tr {
  display: grid;
}

.function-table th {
  background-color: var(--table-header-color);
}

tr.table-color-1 {
  background-color: var(--table-row-color1);
}

tr.table-color-2 {
  background-color: var(--table-row-color2);
}

.function-table td, .function-table th {
  padding: 5px;
  min-width: 2em;
}

.function-table, .function-table td, .function-table th {
  border: 1px solid black;
  border-collapse: collapse;
}

.function-table tbody.horizontal tr, .function-table tbody.horizontal th {
  grid-template-rows: 1fr 1fr;
}

.function-table tbody.vertical tr, .function-table tbody.vertical th {
  grid-template-columns: 1fr 1fr;
}