.katex {
  font-size: 1em !important;
  margin: 0;
  padding: 0;
}

.tick-text text, .text {
  paint-order: stroke;
  stroke: white;
  stroke-width: 1px;
  fill: black;
}

.text {
  stroke-width: 2px;
}

label {
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: var(--border-radius);
}

input[type="radio"] {
  display: none;
}

.selected {
  border: 2px solid #007bff;
  border-radius: var(--border-radius);
}

