:root {
  --color1: red;
  --color2: green;
  --color3: blue;
  --color4: purple;
}
.stroke {
  stroke: black;
}
.c1 {
  color: var(--color1);
}

.c2 {
  color: var(--color2);
}

.stroke.c2 {
  stroke: var(--color2);
}

.fill.c2 {
  fill: var(--color2);
}

.c3 {
  color: var(--color3);
}


.stroke.c3 {
  stroke: var(--color3);
}

.fill.c3 {
  fill: var(--color3);
}

.c4 {
  color: var(--color4);
}

.stroke.c4 {
  stroke: var(--color4);
}

.fill.c4 {
  fill: var(--color4);
}

.tick text {
  font-size: 20px;
}

.text {
  font-size: 20px;
}

.fill.hole {
  fill: white;
}
