:root {
  --color1: red;
  --color2: green;
  --color3: blue;
  --color4: purple;
  --random-color: blue;
}
.stroke {
  stroke: black;
}

.stroke.f {
  stroke: var(--random-color);
}

.fill.f {
  fill: var(--random-color);
}

.katex {
  font-size: 1em !important;
}

.katex .c1 {
  color: var(--color1);
}
.c1 {
  color: var(--color1);
}

.c2 {
  color: var(--color2);
}

.stroke.c2 {
  stroke: var(--color2);
}

.fill.c2 {
  fill: var(--color2);
}

.c3 {
  color: var(--color3);
}

.stroke.c3 {
  stroke: var(--color3);
}

.fill.c3 {
  fill: var(--color3);
}

.c4 {
  color: var(--color4);
}

.stroke.c4 {
  stroke: var(--color4);
}

.fill.c4 {
  fill: var(--color4);
}

.tick text {
  font-size: 20px;
}

.text {
  font-size: 20px;
}

.fill.hole {
  fill: white;
}

.tick-text text {
  paint-order: stroke;
  stroke: white;
  stroke-width: 1px;
  fill: black;
}

/* Hide the default radio buttons */
input[type="radio"] {
  display: none;
}

/* Create custom-styled radio buttons */
input[type="radio"] + label {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the selected radio button label */
input[type="radio"]:checked + label {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

